{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container">
        <h2>About Us</h2>
        <p>We are a team of passionate developers building web applications wits Flask</p>
        <ul>
            <li>Mission: To teach programming effectively.</li>
            <li>Vision: Empower people to build their ideas.</li>
            <li>Values: Collaboration, innovation, and leaming.</li>
        </ul>
    </div>
<!-- Задание 2 -->
    <div class="team-container">
        <h1>Наша команда</h1>
        <ul class="team-list">
            {% for member in team_members %}
            <li class="team-member">
                <div class="member-name">{{ member.name }}</div>
                <div class="member-role">{{ member.role }}</div>
            </li>
        {% endfor %}
         </ul>
    </div>
000
{% endblock %}